.webshop_row{
    display: flex;
    flex-direction: row;
    max-height: 200px; 
    justify-content: space-evenly;
    overflow-x: auto;
    max-width: 1000px; 
    scroll-snap-type: x proximity;
    margin: auto;
}

::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.webshop_rowpic{
    max-height: 150px;
    max-width: auto;
    margin: 0px 30px;
}

.article_header{
    margin: 50px;
}

.hero_div{
    display: flex;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1538331269258-6c97a6bdeae0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    min-height: 800px;
    margin: 0;
    background-attachment: fixed;
    background-position:58%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_txt{
    position: sticky;
    top: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(#0000000e, #00000000);
    border-radius: 25px;
    border: none;
    margin-bottom: 0px;
}

.hero_header{
    color: white;
}

.product_link{
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: rgba(21, 219, 104, 0.733);
}

.product_link:hover{
    background-color: rgb(21, 219, 104);
}
