.webshop_row{
    display: flex;
    flex-direction: row;
    max-height: 300px; 
    justify-content: flex-start;
    overflow-x: auto;
    max-width: 1000px; 
    scroll-snap-type: x proximity;
    margin: auto;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.webshop_rowpic{
    max-height: 150px;
    max-width: auto;
    margin: 0px 30px;
}

.article_header{
    margin: 50px;
}

.hero_div{
    display: flex;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1538331269258-6c97a6bdeae0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    min-height: 800px;
    margin: 0;
    background-attachment: fixed;
    background-position:60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_txt{
    position: sticky;
    top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(#0000000e, #00000000);
    border-radius: 25px;
    border: none;
    margin-bottom: 0px;
}

.hero_header{
    color: white;
}

.promoted_product{
    margin: 10px 10px 10px 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: rgba(21, 219, 104, 0.733);
}

.product_link{
    margin: 10px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: rgba(21, 219, 104, 0.733);
}

.promoted_product:hover, .product_link:hover{
    background-color: rgb(21, 219, 104);
}

.picwlink{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

p.article_txt{
    margin: 10px;
}

.types_of_clothes{
    max-height: 800px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
    overflow-y: scroll;
    margin-top: 0px;
}

.article_header{
    margin-bottom: 0px;
}

.genrebox{
    padding: 25px;
    margin: 10px 0px;
}

.genre{
    max-width: 300px;
    max-height: 300px;
}

#sweather{
    background-image: url(https://images.unsplash.com/photo-1534126416832-a88fdf2911c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#shoes{
    background-image: url(https://images.unsplash.com/photo-1632748914020-941675839f2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=884&q=80);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#womens{
    background-image: url(https://images.unsplash.com/photo-1582992632570-13300b2ecc31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#mens{
    background-image: url(https://images.unsplash.com/photo-1593030761757-71fae45fa0e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.genreheader{
    font-size: 2rem;
    font-family: 'DM Serif Display', 'Roboto Slab', serif;
    text-decoration: none;
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #0000000f;
}

.genretxt{
    font-size: 1rem;
}