html, body{
    height: 100%;
    margin: 0%;
}

h1{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    display: block;
    margin: 0px;
    background-color: burlywood;
}

ul.navigation{
    border: 2px solid black;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
}

li.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 15px;
    border: 2px solid black;
    padding: 0.8vw 3vw;
}

li.navigation:hover{
    cursor: pointer;
    background-color: cadetblue;
}

h2.article_header{
    text-align: center;
}

p.article_txt{
    margin: 0vw 15vw;
}


.article_box{
    min-height: calc(100vh - 250px)
}

footer{
    height: 50px;
}

.customer_service{
    display: flex;
    flex-direction: row;
}

li.customer_service{
    padding: 0vw 3vw;
}